

.background {
  background-image: url('../images/pizza2.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  width: 100%;
}

.blur {
  background: rgba(14, 22, 27, 0.2); 
  backdrop-filter: blur(6px);
  height: 70vh;
	width: 100%;
}
.heading1{
  font-family: Trattatello, fantasy;
  font-size: 400%;
}
#intro-section{
  color: rgb(4, 0, 5);
  text-align: center;
  font-size: x-large;
  font-weight: 400;
  padding-top: 10%;
  padding-bottom: 8%;
  position: sticky;
}

#about-section{
  align-items: center;
  padding:5%
}
#pizza-gif{
  justify-content: center;
}
.heading2{
  padding-top: 2%;
  text-align: center;
  padding-bottom: 20px;
}
#menu{
  background-color: black;
  margin-bottom:30px;
}
#menu h2 {
  color: antiquewhite;
}
.card{
  padding:2%;
  background-color: black ;
}
.card-body{
  color:aliceblue;
}
#order-section{
  background-color: rgba(0,0,0,.5);
    color: #fff;
  padding-top: 2%;
  padding-bottom: 3%;
}
#contacts{
  padding-top:10%;
}
